/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/* výchozí nastavení - mobil 0-540px */
.body {
	display: flex;
	flex-direction: column;
}

.hlavicka {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	padding-top: 20px;
}

.kontejner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ramecek {
	border: 1px, solid, silver;
	box-shadow: 0 3px azure;
	border-radius: 2%;
	text-align: center;
	padding: 8%;
	margin-top: 20px;
}

.ramecek img {
	border-radius: 50%;
}


/* tablet 540-960px */
	@media (min-width: 540px) {

	.hlavicka {
		font-size: 2.5rem;
	}

	.kontejner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		}

	.ramecek {
		display: flex;
		flex-direction: row;
		width: calc(50% - 12px);
		padding: 2%;
		margin-top: 24px;
		}

	.ramecek:nth-child(2n) {
		margin-left: 24px;
	}

	.obsah {
		display:flex;
		flex-direction: column;
		text-align: left;
		padding-left: 10%;
		}

	}